<a href="https://www.skyliner.io/">
  <img src="<%= static_path(@conn, "/images/logo.svg") %>" id="logo"/>
</a>
<img src="<%= static_path(@conn, "/images/headline.svg") %>" id="headline"/>
<p>
  You&rsquo;ve successfully deployed your first application with Skyliner!
  You can modify the code in this repository to build your app.
</p>

<div>
  <a class="button" href="https://www.skyliner.io/dashboard">Take me back to Skyliner</a>
</div>
